@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -ms-grid-rows: 600px 400px 400px 600px 500px 300px;
      grid-template-rows: 600px 400px 400px 600px 500px 300px;
}

.header-wrap {
  z-index: 2;
  height: 5rem;
  position: fixed;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 2 / 4;
  opacity: 1;
}

.header-wrap .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrap .header .logo {
  display: block;
}

.header-wrap .header .logo img {
  width: 170px;
}

.header-wrap .header .nav-bar {
  width: 715px;
}

.header-wrap .header .nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  list-style-type: none;
}

.header-wrap .header .nav-bar ul li {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header-wrap .header .nav-bar ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-right: 15px;
}

.header-wrap .header .nav-bar ul a {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 600;
  text-shadow: 2px 3px 20px black;
  text-decoration: none;
}

.slideshow-container {
  min-width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  margin: 0;
  z-index: 1;
  -webkit-box-shadow: 0px 2px 6px #b6b5b5;
          box-shadow: 0px 2px 6px #b6b5b5;
}

.slideshow-container .slides {
  display: none;
}

.slideshow-container img {
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.dot-container {
  z-index: 3;
  position: absolute;
  top: 500px;
  left: 0;
  right: 0;
  margin: 0;
}

.dot-container .dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 12px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-duration: 6s;
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

.slide-in-text {
  color: white;
  letter-spacing: 0.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.slides-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 140px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  background: #f75563;
  padding: 7px 16px;
  border-radius: 10px;
  text-decoration: none !important;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.slides-btn:hover {
  color: white;
  background: #49b3dd !important;
}

.slide-in-top {
  z-index: 2;
  position: absolute;
  left: 140px;
  top: 215px;
  -webkit-animation: slide-in-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-right {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 110px;
  top: 220px;
  -webkit-animation: slide-in-right 1.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: slide-in-right 1.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.slide-in-right h1 {
  color: black;
  text-shadow: 5px 5px 5px white;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.scale-in-ver-top {
  z-index: 2;
  position: absolute;
  left: 32%;
  top: 210px;
  -webkit-animation: scale-in-ver-top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-ver-top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-in-ver-top h1 {
  font-size: 3.1rem;
  text-shadow: 2px 2px 6px black;
}

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

.about-us-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 0px;
  z-index: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.about-us-home h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.about-us-home p {
  letter-spacing: 1px;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 300;
  padding: 25px 0;
}

.about-us-home .more-about-us {
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
}

.about-us-home .more-about-us span {
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}

.ice-background {
  position: relative;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 3 / 1 / 4 / 4;
  background: url("./images/led1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-box-shadow: 0px 2px 6px #b3b3b3;
          box-shadow: 0px 2px 6px #b3b3b3;
}

.citat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 3 / 1 / 4 / 4;
  position: relative;
  z-index: 2;
}

.citat h2 {
  text-align: center;
  font-size: 2.9rem;
  font-weight: 500;
  padding-bottom: 15px;
}

.citat span {
  font-size: 1.7rem;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 3px;
  right: 100px;
}

.icons-wrap {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 4 / 1 / 5 / 4;
}

.icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  position: relative;
  margin: 50px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 4 / 1 / 5 / 4;
  padding: 0 400px;
}

.icons-container .icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons-container .icon-wrap:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.icons-container .icon-wrap p {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 2rem;
}

.icons-container .icon img {
  width: 110px;
  height: 110px;
  cursor: pointer;
}

.icons-container .cart {
  -webkit-transform: translate(-200px, -50px);
          transform: translate(-200px, -50px);
}

.icons-container .key {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.icons-container .hands {
  position: relative;
  -webkit-transform: translate(200px, -50px);
          transform: translate(200px, -50px);
}

.icons-container .flake {
  -webkit-transform: translate(-200px, 50px);
          transform: translate(-200px, 50px);
}

.icons-container .spray {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.icons-container .cloud {
  -webkit-transform: translate(200px, 50px);
          transform: translate(200px, 50px);
}

.header-scrolled {
  background: #242622;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0.6;
  height: 65px;
}

.icon-wrap {
  -webkit-transition: opacity 500ms ease-in, -webkit-transform 1s ease-in;
  transition: opacity 500ms ease-in, -webkit-transform 1s ease-in;
  transition: opacity 500ms ease-in, transform 1s ease-in;
  transition: opacity 500ms ease-in, transform 1s ease-in, -webkit-transform 1s ease-in;
  opacity: 0;
}

.icon-wrap.appear {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.nature {
  position: relative;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 5 / 1 / 6 / 4;
  background: url("./images/Jahorina1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nature .ba1,
.nature .ba2 {
  position: relative;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5 / 2 / 6 / 3;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
  z-index: 2;
}

.home-footer-background {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 6 / 1 / 7 / 4;
}

#mail {
  color: white;
}

.home-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 6 / 1 / 7 / 4;
  background: #173d69;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-footer .logo {
  margin-bottom: 1rem;
}

.home-footer .logo img {
  width: 300px;
}

.home-footer .company-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-footer .company-adress p {
  color: white;
  margin-bottom: 0.5rem;
}

.about-us-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 0.5fr 1fr 1fr 1fr 0.4fr;
      grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr 0.4fr;
  -ms-grid-columns: 1fr 3.5fr 1fr;
      grid-template-columns: 1fr 3.5fr 1fr;
}

.header-intro {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 2 / 4;
  background: url("./images/Drina.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-attachment: fixed;
  max-height: 600px;
  -webkit-box-shadow: 0px 5px 10px gray;
          box-shadow: 0px 5px 10px gray;
}

.header-intro .about-us-headline {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  top: 43%;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
}

.header-intro .about-us-headline h1 {
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.intro-about-us {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  padding: 80px 0;
}

.intro-about-us p {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 300;
  padding: 0 80px 20px 80px;
}

.malinjak-container {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 500px;
}

.malinjak-container .malinjak {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

.malinjak-container .malinjak img {
  width: 560px;
  max-height: 500px;
}

.malinjak-container .malinjak-text {
  padding-right: 100px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.malinjak-container .malinjak-text h3 {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 15px;
}

.malinjak-container .malinjak-text p {
  font-size: 1.3rem;
  font-weight: 300;
}

.map-container {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
}

.map-container .map img {
  width: 550px;
}

.map-container .map-text {
  font-size: 1.3rem;
  padding-left: 100px;
  padding-top: 30px;
}

.map-container .map-text h3 {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 15px;
}

.storage {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5 / 2 / 6 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0px;
  max-height: 600px;
}

.storage .storage-img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.storage .storage-img img {
  width: 560px;
}

.storage .storage-text {
  padding-right: 100px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.storage .storage-text h3 {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 15px;
}

.storage .storage-text p {
  font-size: 1.3rem;
  font-weight: 300;
}

.line {
  border-top: 2px solid black;
}

.about-us-footer {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 6 / 1 / 7 / 4;
  background: #173d69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.about-us-footer .logo {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us-footer .logo img {
  width: 300px;
}

.about-us-footer .company-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us-footer .company-adress p {
  color: white;
  margin-bottom: 0.5rem;
}

.produce-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 0.4fr 1.15fr 0.7fr 1.2fr 0.4fr 0.4fr;
      grid-template-rows: 1fr 0.4fr 1.15fr 0.7fr 1.2fr 0.4fr 0.4fr;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
}

.header-background {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 2 / 4;
  min-height: 600px;
  background: url("./images/proizvodiiii.png") no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header-background h1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
  color: white;
  text-shadow: 3px 3px 6px black;
  margin-bottom: auto;
  margin-top: auto;
}

.service-intro {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.service-intro p {
  font-size: 1.8rem;
  text-align: center;
  padding: 55px;
  margin: 0;
}

.fruit-wrap {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  padding-top: 50px;
}

.fruit-wrap .produce-title {
  padding-bottom: 30px;
}

.fruit-wrap .produce-title h2 {
  text-transform: uppercase;
  font-weight: bold;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}

.fruit-wrap .frozen-fruits {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding-bottom: 50px;
}

.fruit-wrap .frozen-fruits .fruit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.fruit-wrap .frozen-fruits .fruit-container:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.fruit-wrap .frozen-fruits .fruit-container .fruit-icon img {
  width: 130px;
}

.fruit-wrap .frozen-fruits .fruit-container p {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 2rem;
}

.middle-text {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
}

.middle-text p {
  font-size: 1.8rem;
  text-align: center;
  padding: 50px;
  margin: 0;
  border-bottom: 2px solid black;
}

.service-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5 / 2 / 6 / 3;
}

.service-wrap .icons-title {
  padding: 40px 0 30px 0;
}

.service-wrap .icons-title h2 {
  text-transform: uppercase;
  font-weight: bold;
  width: 140px;
  margin: 0px auto 0px auto;
}

.service-wrap .services-icon-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.service-wrap .services-icon-container .service-icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.service-wrap .services-icon-container .service-icon-wrap:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.service-wrap .services-icon-container .service-icon-wrap p {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 2rem;
}

.service-wrap .services-icon-container .service-icon img {
  width: 130px;
  height: 130px;
  cursor: pointer;
}

.bottom-text {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 6 / 2 / 7 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid black;
}

.bottom-text p {
  font-size: 1.8rem;
  padding: 40px 60px;
  text-align: center;
}

.produce-footer {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 7 / 1 / 8 / 4;
  background: #173d69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.produce-footer .logo {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.produce-footer .logo img {
  width: 300px;
}

.produce-footer .company-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.produce-footer .company-adress p {
  color: white;
  margin-bottom: 0.5rem;
}

.contact-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -ms-grid-rows: 1fr 1fr 0.4fr;
      grid-template-rows: 1fr 1fr 0.4fr;
}

.contact-img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1 / 1 / 2 / 5;
  background: url("./images/Drina (2).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  overflow: hidden;
}

.contact-body {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 2 / 1 / 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company-informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.company-informations .contact-logo {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.company-informations .contact-logo img {
  width: 300px;
}

.company-informations .company-details p {
  font-size: 1.3rem;
  font-weight: 500;
}

.company-informations .company-details p a {
  color: black !important;
}

.customers-form-wrap {
  padding: 60px;
}

.customers-form-wrap form {
  width: 450px;
}

.customers-form-wrap .input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 10px;
}

.customers-form-wrap .input-form input {
  width: 380px;
  height: 48px;
  border: none;
  outline: none;
  padding: 10px;
  margin-left: 50px;
  font-size: 1.2rem;
}

.customers-form-wrap .input-form i {
  position: absolute;
  width: 50px;
  padding: 8px 0 8px 20px;
  color: gray;
}

.text-form {
  width: 450px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
}

.text-form i {
  padding: 12px 5px 0 12px;
  color: gray;
}

.text-form textarea {
  width: 395px;
  height: 198px;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.2rem;
  padding: 6px;
}

.submit-wrap {
  margin-top: 20px;
}

.submit-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submit-wrap input {
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 10px;
  background: #6098d1;
  color: white;
}

.contact-footer {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 3 / 1 / 4 / 5;
  background: #173d69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-footer .footer img {
  width: 250px;
}

.contact-footer .footer .company-adress {
  color: white;
}
/*# sourceMappingURL=style.css.map */