@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
// 1. manual slides
// 2.Map when display changes
// 3.icons sliding in at the same time
// 4. header on scroll change color
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-rows: 600px 350px 300px 600px 500px 300px;
}

// header
.header-wrap {
    z-index: 2;
    height: 5rem;
    position: fixed;
    width: 100%;
    grid-area: 1 / 1 / 2 / 4;
    opacity: 1;
    .header {
        display: flex;
        padding: 20px 200px;
        justify-content: space-around;
        align-items: center;
        .logo {
            display: none;
        }
        .nav-bar {
            width: 715px;
            ul {
                display: flex;
                justify-content: space-between;
                margin: 0;
                list-style-type: none;
                li {
                    transition: 0.8s;
                    &:hover {
                        transform: scale(1.2);
                        margin-right: 10px;
                    }
                }
                a {
                    color: #ffffff;
                    font-size: 1.6rem;
                    font-family: 'Bree Serif', serif;
                    // font-weight: 600;
                    text-shadow: 2px 3px 20px black;
                    text-decoration: none;
                }
            }
        }
    }
}

// slideshow
.slideshow-container {
    min-width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    margin: 0;
    z-index: 1;
    .slides {
        display: none;
    }
    img {
        height: 580px;
        object-fit: cover;
    }
}

.dot-container {
    z-index: 3;
    position: absolute;
    top: 500px;
    left: 0;
    right: 0;
    margin: 0;
    .dot {
        cursor: pointer;
        height: 20px;
        width: 20px;
        margin: 0 12px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 1s ease;
    }
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-duration: 6s;
}

@-webkit-keyframes fade {
    from {
        opacity: 1
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

// slide in text
.slide-in-text {
    color: white;
    // text-shadow: 0px 0px 2px black;
    letter-spacing: 0.2rem;
    font-family: 'Bree Serif', serif;
    // font-weight: 600;
    text-transform: uppercase;
}

// home main button
.slides-btn {
    display: flex;
    position: relative;
    width: 140px;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    background: rgb(247, 85, 99);
    padding: 7px 16px;
    border-radius: 10px;
    text-decoration: none !important;
    margin-left: auto;
    margin-right: auto;
    transition: 0.9s;
    &:hover {
        color: white;
        background: rgb(13, 161, 13) !important;
    }
}

// 1st slide
.slide-in-top {
    z-index: 2;
    position: absolute;
    left: 140px;
    top: 215px;
    -webkit-animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-150px);
        transform: translateY(-150px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-150px);
        transform: translateY(-150px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

// 2nd slide
.slide-in-right {
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 110px;
    top: 220px;
    -webkit-animation: slide-in-right 1.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: slide-in-right 1.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    h1 {
        color: black;
        text-shadow: 5px 5px 5px white;
    }
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

// 3rd slide
.scale-in-ver-top {
    z-index: 2;
    position: absolute;
    left: 32%;
    top: 210px;
    -webkit-animation: scale-in-ver-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-ver-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    h1 {
        font-size: 3.1rem;
    }
}

@-webkit-keyframes scale-in-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}

@keyframes scale-in-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}

// home about us
// .ripped-background {
//     position: relative;
//     height: 432px;
//     background: url('./images/ripped2.png');
//     background-repeat: no-repeat;
//     background-size: cover;
//     grid-area: 2 / 1 / 3 / 4;
//     top: -46px;
//     z-index: 2;
// }
.about-us-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 100px;
    z-index: 2;
    grid-area: 2 / 2 / 3 / 3;
    h2 {
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        padding-bottom: 20px;
        text-transform: uppercase;
    }
    p {
        font-size: 1.4rem;
        letter-spacing: 1px;
        line-height: 2.5rem;
        font-weight: 400;
        text-align: center;
    }
}

.more-about-us {
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    span {
        color: black;
        font-size: 1.2rem;
        font-weight: 500;
    }
}

// 3rd sector
.ice-background {
    position: relative;
    grid-area: 3 / 1 / 5 / 4;
    background: url('./images/pexels-neosiam-579216.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.citat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50px;
    grid-area: 3 / 2 / 4 / 3;
    position: relative;
    z-index: 2;
    // padding: 0 150px;
    h2 {
        text-align: center;
        font-size: 2.8rem;
        font-weight: 400;
        padding-bottom: 15px;
    }
    span {
        font-size: 1.7rem;
        font-style: italic;
        font-weight: 400;
        letter-spacing: 3px;
        right: 100px;
    }
}

// 4th sector
.th-background {
    position: relative;
    background: url('./images/ripped2.png');
    background-repeat: no-repeat;
    background-size: cover;
    top: 50px;
    grid-area: 4 / 1 / 5 / 4;
    z-index: 3;
}

// icons
.icons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    top: 60px;
    align-items: center;
    z-index: 4;
    grid-area: 4 / 2 / 5 / 3;
    .icon-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        &:hover {
            transform: scale(1.2);
        }
        p {
            font-size: 1.4rem;
            text-align: center;
            margin-top: 1rem;
        }
    }
    .icon img {
        width: 80px;
        cursor: pointer;
    }
    .flake {
        transform: translate(-200px, -200px);
    }
    .flake-icon {
        transform: scale(1.3);
        .flake-text {
            top: 10px;
        }
    }
    // key
    .key {
        top: 10px;
        transform: translateY(-200px);
        .key-icon {
            transform: scale(1.6);
            bottom: 10px;
            position: relative;
        }
    }
    // hands
    .hands {
        position: relative;
        top: 35px;
        transform: translate(200px, -200px);
        .hands-icon {
            transform: scale(1.9);
            bottom: 10px;
            position: relative;
        }
    }
    // second row icons
    // cart icon
    .cart {
        height: 300px;
        bottom: 40px;
        transform: translate(-200px, 200px);
        .cart-icon {
            transform: scale(2);
            margin-bottom: 15px;
        }
    }
    // spray icon
    .spray {
        height: 300px;
        bottom: 62px;
        transform: translateY(200px);
        .spray-icon {
            transform: scale(1.5);
            margin-bottom: 10px;
        }
    }
    // cloud icon
    .cloud {
        height: 300px;
        transform: translate(200px, 200px);
        bottom: 50px;
        .cloud-icon {
            transform: scale(1.5);
        }
    }
}

// observer properties
.header-scrolled {
    background: #b7b5b5;
    box-shadow: 0 2px 10px rgba(black, 0.5);
    z-index: 10;
    opacity: 0.8;
}

.flake,
.key,
.hands,
.cart,
.spray,
.cloud {
    transition: opacity 500ms ease-in, transform 1s ease-in;
    opacity: 0;
}

.flake.appear {
    transform: translate(0);
    opacity: 1;
}

.key.appear {
    transform: translateY(0);
    opacity: 1;
}

.hands.appear {
    transform: translate(0);
    opacity: 1;
}

.cart.appear {
    transform: translate(0);
    opacity: 1;
}

.spray.appear {
    transform: translateY(0);
    opacity: 1;
}

.cloud.appear {
    transform: translate(0);
    opacity: 1;
}

// 5th sector
.nature {
    position: relative;
    grid-area: 5 / 1 / 6 / 4;
    background: url('./images/Jahorina1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .ba1,
    .ba2 {
        position: relative;
        grid-area: 5 / 2 / 6 / 3;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        display: grid;
    }
    .ba1 {
        z-index: 2;
        position: relative;
        opacity: 0.5;
    }
    .ba2 {
        z-index: 3;
        position: absolute;
        bottom: 30px;
        left: 33.6%;
    }
}

// footer
.footer-background {
    grid-area: 6 / 1 / 7 / 4;
    background: #242622;
    // box-shadow: 0px -10px 10px #242622;
    // padding-top: 10px;
    // margin-top: 10px;
}

.footer {
    display: flex;
    grid-area: 6 / 2 / 7 / 3;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
        margin-bottom: 1rem;
    }
    // bottom: 0;
    .company-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    p {
        color: white;
        margin-bottom: 0.5rem;
    }
}

// 2nd page
// ========================= O NAMA ==============================
.about-us-container {
    display: grid;
    grid-template-rows: 1fr 0.7fr 1fr 0.7fr;
    grid-template-columns: 1fr 2fr 1fr;
}

.header-intro {
    grid-area: 1 / 1 / 2 / 4;
    background: url('./images/Drina.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
    height: 600px;
    .about-us-headline {
        position: relative;
        display: flex;
        justify-content: center;
        color: white;
        top: 50%;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        h1 {
            font-size: 4.5rem;
            letter-spacing: 0.5rem;
        }
    }
}

// about us first text
.about-us-first-text {
    grid-area: 2 / 2 / 3 / 3;
    margin-top: 50px;
    padding: 0 100px;
    p {
        font-size: 1.3rem;
        text-align: center;
    }
}

// footer
.about-us-footer {
    grid-area: 4 / 1 / 5 / 4;
}